/* --- Font --- */

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap | 100, 200, 300, 400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap | 100, 200, 300, 400, 500, 600, 700');

/* --- base.html --- */

.bg-image { 
    background-image: url(../images/bg_image.jpg);
    background-position-y: bottom;
    background-size: cover;
    height: 50vh;
    opacity: 0.9
}

.main-heading {
    font-family: 'Satisfy' , sans-serif;
}

.jumbotron {
    background-color:transparent;
    color: #fafafa;
}

.navbar {
    opacity: 0.8;
}
.navbar-dark a {
    color: #fafafa;
}
.dropdown-menu {
    background-color: silver;
}

.main-bg {
    background-color: #fafafa; 
}

footer {
    opacity: 0.6;
    padding: 15px 10px;
    font-size: 1.5rem;
    color: #fafafa;
}

/* --- index.html --- */

.sub-heading {
    font-stretch: ultra-expanded;
}

.about-us {
    background-color:rgb(192, 192, 192, 0.3);
}

.second-font {
    font-family: 'Jomolhari', serif;
}

.call-to-action{
    background-color: transparent;
    border: none
}

img {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

/* --- font awesome icons --- */

.fa-feather{
    font-size: 2rem;
    color: black;
}

.fa-scroll {
    font-size: 2rem;
    color: black;
}

.fa-home {
    font-size: 2rem;
    color: black;
}

.fa-book {
    color: brown;
}

/* --- login.html --- */

.flash {
    color: red;
}

/* --- scripts.html --- */

.book-btn {
    height: 15rem;
    width: 9rem;
    background-color: brown;
    color: #fafafa
}

.btn-custom {
    opacity: 0.7;
}

a.list-group-item {
    color: black;
}

.modal-header, .modal-footer {
    background-color: #fafafa;
    opacity: 0.8;
}

.modal-body {
    white-space: pre-line;
}

/* --- my_account.html --- */

a.text-decoration-none {
    color: #fafafa
}

/* --- Media Queries --- */

@media(min-width: 1200px) {
.jumbotron {
    color: black;
}}