/* --- Font --- */

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap | 100, 200, 300, 400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap | 100, 200, 300, 400, 500, 600, 700');

/* --- base.html --- */

.bg-image{
    background-image: url(../images/bg_image.jpg);
    background-position-y: bottom;
    background-size: cover;
    height: 50vh;
    opacity: 0.9
}

.main-heading {
    font-family: 'Satisfy' , sans-serif;
}

.jumbotron {
    background-color: silver;
    opacity: 0.8;
}

/* --- index.html --- */

.sub-heading{
    font-stretch: ultra-expanded;
}

.about-us {
    background-color:rgb(192, 192, 192, 0.5);
}

.second-font {
    font-family: 'Jomolhari', serif;
}

.call-to-action{
    background-color: transparent;
    border: none
}
.fa-feather{
    font-size: 2rem;
    color: black;
}

.fa-scroll {
    font-size: 2rem;
    color: black;
}


