{% extends 'base.html' %}
{% block content %}

<div class="row py-4">
    <div class="col-md-6 offset-md-3 text-center">
        <h2 class="main-heading sub-heading">Welcome!</h2>
        <p class='second-font'>Thanks for coming to have a look, to get started, choose which category you'd like to
            view from.
        </p>
    </div>
</div>
<div class="row py-4">
    {% for categories in categories %}
    <div class=" col-6 col-md-4 text-center">
        <i class="fas fa-book py-2"></i>
        <h4 class='main-heading sub-heading py-3'> {{ categories.category_name }} </h4>
    </div>
    {% endfor %}
</div>
<br>
<a href="{{url_for('get_authors')}}">Authors</a>
{% endblock %}