{% extends 'base.html' %}
{% block content %}

<div class="row about-us">
    <div class="col-md-6 offset-md-3 text-center">
        <h2>Our Mission</h2>
        <p>It is our only goal to give writers a platform to share their work.</p>
        <p>A platform where fellow writers can share their thoughts.</p>
    </div>
</div>

<div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h4>Share Your Story</h4>
            <button class="call-to-action"><i class="fas fa-feather"></i></button>
        </div>
    </div>

{% endblock %}