{% extends 'base.html' %}
{% block content %}

<div class="row about-us py-4">
    <div class="col-md-6 offset-md-3 text-center">
        <h2 class="main-heading sub-heading">Our Mission</h2>
        <p class='second-font'>Our only goal to give writers a platform to share their work.</p>
    </div>
</div>

<div class="row py-4">
    <div class="col-md-6 text-center">
        <h3 class="main-heading sub-heading">Share Your Story</h3>
        <button href="" class="call-to-action"><i class="fas fa-feather"></i></button>
    </div>
    <div class="col-md-6 text-center">
        <h2 class="main-heading sub-heading">View Scripts</h2>
        <a href="{{url_for('get_categories')}}">
            <button class="call-to-action"><i class="fas fa-scroll"></i></i></button>
        </a>
    </div>
</div>

<div class="row about-us py-4">

</div>

{% endblock %}