{% extends 'base.html' %}
{% block content %}

<!--Mission Statement-->
<div class="row about-us py-4">
    <div class="col-md-6 offset-md-3 text-center">
        <h2 class="main-heading sub-heading">Our Mission</h2>
        <p class='second-font'>Our only goal to give writers a chance to tell their story.</p>
    </div>
</div>

<!--Links-->
<div class="row py-4">
    <div class="col-md-6 text-center">
        <h3 class="main-heading sub-heading">Share Your Story</h3>
        <a href="{{url_for('share_a_script')}}">
            <button class="call-to-action"><i class="fas fa-feather"></i></button>
        </a>
    </div>
    <div class="col-md-6 text-center">
        <h2 class="main-heading sub-heading">View Scripts</h2>
        <a href="{{url_for('view_scripts')}}">
            <button class="call-to-action"><i class="fas fa-scroll"></i></button>
        </a>
    </div>
</div>

<!--Testimonial/Reviews-->
<div class="row pb-3 pt-5 main-heading sub-heading">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
        <h3>What people have to say</h3>
    </div>
</div>
<div class="row about-us pb-2 pt-4">
    <div class="col-12 col-md-6">
        <div class="media">
            <img src="{{url_for('static', filename='images/CharlieWinters.png')}}" class="mr-3" alt="Charlie Winters">
            <div class="media-body">
                <h5 class="mt-0 main-heading">Charlie Winters - Goodbye, Old Friend</h5>
                <p class="second-font">
                    The only thing a writer wants, is for people to see their work. Share a Script gave me that chance.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="media">
            <img src="{{url_for('static', filename='images/AnnCevault.png')}}" class="mr-3" alt="AnnCevault">
            <div class="media-body">
                <h5 class="mt-0 main-heading">Ann Cevault - I Don't Understand</h5>
                <p class="second-font">
                    Writing has always been my passion, and using Share a Script, I was able to share that passion,
                    secure a book deal, and now get to write for a living! It gave me a platform to express
                    my work with the world.</p>
            </div>
        </div>
    </div>
</div>




<!--Featured Work-->
<div class="row pt-4 pb-3 main-heading sub-heading">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
        <h3>Our picks of the week!</h3>
    </div>
</div>
<div class="row py-2 about-us">
    <div class="col-12 col-md-6">
        <h5 class="main-heading">The Curious Incident of the Dog in the Night-Time - Chapter One</h5>
        <p class="second-font">2. It was 7 minutes after midnight. The dog was lying on the grass in the middle of the lawn in front of Mrs. Shears's house. Its eyes were closed. It looked as if it was running on its side, the way dogs run when they think they are chasing a cat in a dream. But the dog was not running or asleep. The dog was dead. <a href="{{url_for('view_scripts')}}">Read More</a></p>
    </div>
    <div class="d-none d-md-block col-md-6">
        <h5 class="main-heading">The Confession - The Crime - Chapter One</h5>
        <p class="second-font">The custodian at St. Mark's had just scraped three inches of snow off the sidewalks when the man with the cane appeared. The sun was up, but the winds were howling; the temperature was stuck at the freezing mark. The man wore only a pair of thin dungarees, a summer shirt, well-worn hiking boots, and a light Windbreaker that stood little chance against the chill. But he did not appear to be uncomfortable, nor was he in a hurry. <a href="{{url_for('view_scripts')}}">Read More</a></p>
    </div>
</div>
{% endblock %}