{% extends 'base.html' %}
{% block content %}

<!--Login Form-->
<div class="container py-2 second-font">
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2 class="main-heading sub-heading">Welcome!</h2>
            <p class=''>To start sharing your stories, please login.</p>
        </div>
        <div class="col-6 offset-3">
            <form  method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="writer24">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="pass" placeholder="password123">
                </div>
                <!--Flashed messages for incorrect username or password-->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="text-center second-font flash">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <button type="submit" class="btn btn-secondary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}